:root {
  --primary-bg: rgba(44,62,80 ,1);
  --secondary-bg: rgba(0,0,0,0.9);
  --box-shadow-color-1: gold;
  --box-shadow-color-2: rgba(149,165,166 ,0.1);
  --box-shadow-color-3: #ecf0f1;
  --phone-width: 350px;
  --phone-height: 700px;
}